<!-- Footer -->
<footer style="background-color: var(--deep-green)" class="text-white py-10">
  <div class="flex flex-col items-center gap-3">
    <img src="./assets/images/logo.png" alt="Bhorosha Logo" class="h-20 w-20" />
    <span class="text-2xl font-extrabold tracking-wide text-[#b3d745]"
      >Bhorosha</span
    >
  </div>
  <div class="max-w-6xl mx-auto px-4 text-center text-sm">
    <p class="mb-3">Bhorosha, Dhaka, Bangladesh</p>
    <div class="flex justify-center gap-6 mb-3">
      <!-- Facebook Icon -->
      <a
        href="https://www.facebook.com/bhorosha.land"
        class="hover:text-[#b3d745]"
      >
        <i class="fab fa-facebook-square text-2xl"></i>
      </a>
      <!-- LinkedIn Icon -->
      <a
        href="https://www.linkedin.com/company/bhorosha-land/"
        class="hover:text-[#b3d745]"
        ><i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin text-2xl"></i>
      </a>
      <!-- Email Icon -->
      <a href="mailto:info@bhorosha.com" class="hover:text-[#b3d745]">
        <i class="fas fa-envelope text-2xl"></i>
      </a>
    </div>
    <div class="flex justify-center gap-6 mb-3">
      <!-- Terms and Conditions Link -->
      <a href="/terms.html" class="hover:text-[#b3d745]"
        >Terms and Conditions</a
      >
    </div>
    <p>&copy; 2025 Bhorosha. All rights reserved.</p>
  </div>
</footer>

<!-- Font Awesome Icons Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
